{% extends 'base.html' %} 
{% block content %}

<main class= "container py-5">
    <section class= "car card-body">
        <h1 class="display-1 text-center">Reserva de Tareas</h1>
        <p>
            Bienvenido a ReservaTareas.com

            ReservaTareas.com es tu plataforma de reservas en línea para todas tus necesidades. Se pueden reservar desde la parrilla , zoom y laúndry y Gym con turnos disponibles para que sea de manera sencillo y cómodo.
        </p>
        </br>
        <p>    
            ¿Qué puedes reservar en ReservaTareas.com?
        </p>  
        
        <p> 
            1. Parrillas: Encuentra la disponibilidad de la parrilas.
            
            2. Zoom:  Reserva el zoom y garantiza tu encuentro.
            
            3. Loundy: Encuentra disponible el Londry para cuando lo necesites.
            
            4. Gym: Descubre clases emocionantes y asegura tu asistencia reservando tus entradas.
        <br>
            ¿Por qué reservar con nosotros?
        </br>    
            - Fácil y rápido: Nuestra plataforma está diseñada para facilitar el proceso de reserva. Solo unos pocos clics y estarás listo.
      
            - Ofertas especiales: Mantente atento a nuestras ofertas y descuentos exclusivos para ahorrar en tus reservas.
        </br>    
            ¿Cómo funciona?
        </br> 
            1. Regístrate: Crea una cuenta gratuita en ReservaTareas.com para acceder a todas nuestras funcionalidades.
            
            2. Busca y elige: Explora nuestras categorías de reservas y selecciona la opción que desees reservar.
            
            3. Reserva: Selecciona la fecha y hora que más te convenga y completa el proceso de reserva.
            
        </br>      
            ¡Empieza a reservar ahora y disfruta de una experiencia sin complicaciones!
        </br>     
            ReservaTareas.com - Tu mejor opción para reservas en línea.
             
            
            
            
            
            
            
        <p>    

        <div class ="text-center">
            <a class= "btn btn-secondary" href = "/signin">
                Ingresar
            </a> 
            <a class= "btn btn-dark" href = "/signup">
                Salir
            </a> 

        </div>    

{% endblock %}
